# The global config file for code_swarm, defining the defaults.

# Don't edit this file for personal preferences, copy user.config.sample
# to defaults/user.config and edit that

# Frame width
Width=800

# Frame height
Height=600


# Optional Method instead of MillisecondsPerFrame
FramesPerDay=6

# Background in R,G,B
Background=0,0,0

# Maximum number of background threads, used mostly for writing out snapshots
#   When taking snapshots this setting has a significant effect on memory use
MaxThreads=8

# Save each frame to an image?
TakeSnapshots=false

# Where to save the frames
SnapshotLocation=code_swarm_frames/#####.png

ShowUserName=true

## How to draw names (choose as many as you like)
# Draw sharp names?
DrawNamesSharp=true
# And draw a glow around names? (kinda slow)
DrawNamesHalos=false

## How to draw files (choose as many as you like)
# Draw sharp files?
DrawFilesSharp=true
# Draw fuzzy files?
DrawFilesFuzzy=true
# Draw jelly files?
DrawFilesJelly=false

CircularAvatars=true

# Show a legend of colors and their labels
ShowLegend=true

# Show a histogram of edits over time
ShowHistory=true

# Show the date
ShowDate=true

# Show edges between authors and files, mostly for debug purpose
ShowEdges=false

# Turn on debug info
ShowDebug=false

# Font for text throughout the visualization
Font=SansSerif
FontSize=10
FontColor=255,255,255

# Font for people's names immediately after they've made an edit 
BoldFont=SansSerif
BoldFontSize=14

# Natural distance of files to people
EdgeLength=25

# Initial life values
EdgeLife=150
FileLife=150
PersonLife=255

# How much life is lost per frame
EdgeDecrement=-2
FileDecrement=-2
PersonDecrement=-1

# Initial mass
FileMass=1.0
PersonMass=100.0

# Controls how long a node a person or file is highlighted after
# they're involved in an edit.
HighlightPct=5

## Physics engine selection and configuration
# Directory physics engine config files reside in.
PhysicsEngineConfigDir=physics_engine

## Physical engine selection and configuration
# Force calculation algorithms (PhysicsEngineLegacy, PhysicsEngineSimple...) :
PhysicsEngineSelection=PhysicsEngineOrderly

#Don't assume the input is sorted
IsInputSorted=false

# Particle sprite file
ParticleSpriteFile=src/particle.png

# OpenGL has problems on some platforms.  We're closer to having it work 
# automatically out of the box, but not close enough to enable it by default
UseOpenGL=false

# Default user avatar
AvatarFetcher=GravatarFetcher

# Other common avatar options:

#AvatarFetcher=NoAvatar

# looks for avatar images (with the same name as the user name) in 
# the LocalAvatarDirectory
#AvatarFetcher=LocalAvatar


# Other options include: monsterid, wavatar
GravatarFallback=identicon

#Size in pixels of the width and height of avatar images
AvatarSize=40

# Used by the LocalAvatar fetcher
LocalAvatarDirectory=data/local_avatars/
LocalAvatarDefaultPic=default.png
